.top-banner-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30vh;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-content: center;
	justify-content: center;
	max-width: 80vw;
	margin: auto;
	padding-top: 2em;
}
/* image */
.banner-image-div {
	grid-area: 1 / 1 / 2 / 2;
}

/* Banner image (layer 1) */
.banner-image {
	display: grid;
	min-width: 21.875em;
	width: 100%;
	object-fit: cover;
	border-radius: 1.563em;
}
