.top-Aboutbanner-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30vh;
	grid-column-gap: 0em;
	grid-row-gap: 0em;
	align-content: center;
	justify-content: center;
	max-width: 80vw;
	margin: auto;
	padding-top: 2em;
}
/* image */
.aboutBanner-image-div {
	grid-area: 1 / 1 / 2 / 2;
}

/* Banner image (layer 1) */
.aboutBanner-image {
	display: grid;
	min-width: 21.875em;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 1.563em;
}
