.mainHome {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #f6f6f6;
	border-radius: 1.563em;
	max-width: 80vw;
	margin: auto;
	grid-gap: 0.584vw;
	row-gap: 1.5vw;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
