html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: black;
	text-decoration: none;
}

article {
	padding: 0px;
	margin: 0px;
}

/* END OF THE RESET */

body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container_content {
	flex-grow: 1;
}
