.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5em 4em;
}

@media (max-width: 768px) {
	.header {
		margin: 0.75em;
	}
	.header img {
		max-width: 9.188em;
	}
}
