.mainRental {
	max-width: 80vw;
	color: #ff6060;
	margin: auto;
	padding: 1.5em 0;
}
.rentalInfoContainer {
	display: flex;
	justify-content: space-between;
}
.rentalHeaderContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rentalName {
	font-weight: 500;
	font-size: 2.25em;
}

.rentalLocation {
	font-size: 1.125em;
}

.rentalOwner {
	display: flex;
	height: 5em;
}

.rentalOwnerName {
	padding-right: 1em;
	font-size: 1.125em;
	text-align: end;
	margin: auto;
}

.rentalOwnerPicture {
	object-fit: cover;
	height: 100%;
	border-radius: 100%;
}

.rentalDescriptionsContainer {
	display: flex;
	justify-content: space-between;
}

.rentalDetailsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.rentalTagsContainer {
	margin: 0.5em 0;
}

@media (max-width: 1024px) {
	.rentalInfoContainer {
		flex-direction: column;
	}

	.rentalName {
		font-size: 1.125em;
	}

	.rentalLocation {
		font-size: 0.875em;
	}

	.rentalDetailsContainer {
		flex-direction: row-reverse;
	}

	.rentalOwnerPicture {
		max-height: 4em;
	}

	.rentalOwnerName {
		font-size: 0.75em;
	}

	.rentalDescriptionsContainer {
		flex-direction: column;
	}
}
